{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<!-- Content -->
<section class="hero is-bold is-dark">
  <div class="container">
    <br />
    <div class="is-size-2">
      {{ .Page.Title }}
    </div>
    <br />
  </div>
</section>
<section class="hero is-bold has-background-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-one-third-desktop is-subtitle">
          <div class="content is-medium is-size-3 has-text-light has-text-weight-bold">{{ .Params.Subtitle }}</div>
          <div class="content is-medium has-text-light is-size-4">{{ .Content }}</div>
        </div>
        <div class="column is-two-thirds-desktop">
          <div class="box">
            {{ $img := ( .Resources.ByType "image" ) }}
            {{ range $img }}
            <figure class="image is-5by4">
              {{ $inmemoriam := .Fill "552x515 bottom q100" }}
              <img src="{{ $inmemoriam.Permalink }}" alt="In Memoriam, David Denman" />
              {{ end }}
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
