{{ define "main" }}

<div class="container">

    <h1>{{ .Title }}</h1>

        <ul>
            {{- range .Site.Pages.ByDate.Reverse -}}
                {{ .Render "li" }}
            {{- end -}}
        </ul>

    {{ template "_internal/pagination.html" . }}

</div>

{{ end }}
