{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="section" style="flex:1">

    <div class="container">
      <div class="columns">

        <div class="column">
          <!-- Content -->
          <p>_default_section_html</p>
          <div class="container">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
            </div>
        </div>

      </div>
    </div>

</section>

{{ end }}
