{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

    <h2>Taxonomy term: {{ .Title }}</h2>

    <ul>
      {{ $data := .Data }}
      {{ range $key, $value := .Data.Terms.Alphabetical }}
        <li>
          <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">
            {{ $value.Name }}
          </a>
          {{ $value.Count }}
        </li>
      {{ end }}
    </ul>

{{ end }}
