{{ define "main" }}

<section id="about" class="hero is-fullwidth is-light">
    <div class="container">
        <div class="hero-body">
            <div class="columns is-desktop is-vcentered">
                <div class="column is-two-fifths-desktop">
                    <p class="title is-3">
                        About Accidental Shakespeare
                    </p><br />
                    <p class="subtitle is-4">
                        {{ .Params.history }}
                    </p>
                    <br />
                    <p class="title is-3">
                        Our Mission
                    </p><br />
                    <p class="subtitle is-4">
                        {{ .Params.mission }}
                    </p>
                </div>
                <div class="column is-three-fifths-desktop">
                    <div class="box">
                        <figure class="image is-3by2">
                            {{ $img := (.Resources.ByType "image").GetMatch "*rehearsal*" }}
                            {{ with $img }}
                            {{ $img := .Fill "800x533 smart q80" }}
                            <img src="{{ $img.RelPermalink }}"
                                alt="Picture of Accidental Shakespeare Theater members rehearsing for a play">
                            {{ end }}
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero is-fullwidth is-light">
        <div class="hero-body has-text-centered">
            <div class="container">
                <p class="title is-3 upper">
                    Company
                </p>
                <br />
                <div class="columns is-multiline  is-variable is-desktop is-centered">
                    {{ range where .Pages "Params.company" "member" }}
                    <div class="column is-one-quarter-desktop">
                        {{template "company_members" .}}
                    </div>
                    {{ end }}
                </div>
                <div class="hero-body has-text-centered">
                    <p class="title is-3 upper">
                        Executive Board of Directors
                    </p>
                    <div class="columns is-multiline is-desktop is-centered is-vcentered">
                        {{ range where .Pages "Params.company" "board" }}
                        <div class="column is-one-third-desktop has-text-centered">
                            {{template "board_members" .}}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}


{{define "company_members"}}
<a href="{{.Permalink}}">
    <figure class="image">
        {{ $img := (.Resources.ByType "image").GetMatch "*headshot*" }}
        {{ with $img }}
        {{ $img := .Fill "440x440 top" }}
        <img src="{{ $img.RelPermalink }}" />
        {{end}}
    </figure>
    {{with .Params.title }}
    <h3 class="title is-4 is-capitalized">{{ . | markdownify -}}</h3>
    {{ end }}
    {{with .Params.company_title }}
    <h4 class="subtitle is-5">{{ . | markdownify -}}</h3>
        {{ end }}
</a>
{{ end }}

{{define "board_members"}}
{{with .Params.title }}
<h3 class="title is-4 is-capitalized">{{ . | markdownify -}}</h3> {{ end }}
{{with .Params.company_title }}
<h4 class="subtitle is-5">{{ . | markdownify -}}</h3> {{ end }}
{{ end }}
