{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<!--Segment for Company Photo -->
<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-desktop">
        <div class="column is-one-half-desktop is-subtitle">
          <h1 class="title">{{ .Params.title }}</h1>
          <h2 class="is-size-4"><strong>{{ .Params.company_title }}</strong></h2>
          <h2 class="is-size-5">Preferred Pronouns: <em>{{ .Params.pronouns }}</em></h2>
          <h2 class="is-size-5">{{ with .Params.email }}Email: {{ . }}</h3>
            {{ else }}
            {{ end }}
          <br />
          <div class="content is-medium">{{ .Content }}</div>
        </div>
        <div class="column is-one-half-desktop">
          <div class="box">
            {{ $img := ( .Resources.ByType "image" ) }}
            {{ range $img }}
            <figure class="image is-4by4">
              {{ $headshot := .Fill "440x440 top" }}
              <img src="{{ $headshot.Permalink }}" alt="Show Poster Image" />
              {{ end }}
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}