{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="section" style="flex:1">
  <!-- Content -->
  <div class="container">
    <p>layouts/bio/single.html</p>
    <h1>{{ .Title }}</h1>
        {{ .Content }}
  </div>
</section>

{{ end }}
