@import "bulma-scss/utilities/initial-variables";

/* INITIAL COLORS */

$black: #040303;       /*Previously #000000 */
$white: #ffffff;
$orange: #f26430;      /*Previously #ff470f */
$yellow: #e3c567;      /*Previously #ffdd57 */
$green: #546437;       /* Chalet Green */
$turquoise: #473764;   /* Martinque */
$cyan: #209cee;
$blue: #696f73;        /* Nevada */
$purple: #473764;
$red: #ba274a;         /*Previously #ea638c*/

$primary: $turquoise;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$link: $blue;
$dark: $grey-darker;
$text: $grey-dark;

/* NAVBAR SETTINGS */

$navbar-height: 4.0rem;

/* FONTS */

$family-primary: 'mostra-nuova', sans-serif;
$family-secondary: 'Roboto', sans-serif;
p {
   line-height: normal;
}

/* BODY */

$body-background-color: $black-bis;

/* FOOTER */

$footer-background-color: $black-bis;

/* BOX --- Box is often used to frame pictures */

$box-color: $dark;
$box-background-color: $grey-dark;
$box-padding: 0.2rem;

/* Divider - See https://wikiki.github.io/layout/divider
   This is currently used on our "Donate" page. */

$divider-background-color: $grey-dark;
$divider-thickness: 0.1rem;
$divider-font-size: $size-6;
$divider-color: $grey-dark;
