{{ define "main" }}

<section id="season" class="hero is-fullwidth is-light">
    {{ if eq .Params.featured_event "yes" }}
    <div class="container">
        <div class="hero-body is-lighter">
            <div class="container">
                <div class="columns is-desktop has-text-centered is-vcentered">
                    <div class="column is-half-desktop subtitle">
                        <div class="box">
                            {{ range (where .Site.Pages "Section" "index") }}
                            {{ with .Resources.Match "work_with_us.jpg" }}
                            <figure class="image is-4by3">
                                {{ range .}}
                                {{ $work_with_us := .Fill "1280x960 smart" }}
                                <img src="{{ $work_with_us.Permalink }}" alt="Work With Us" />
                                {{ end }}
                                {{ end }}
                            </figure>
                            {{ end }}
                        </div>
                    </div>
                    <div class="column is-half-desktop subtitle">
                        <p class="title is-size-2">Get Involved</p>
                        <p class="subtitle is-size-3">If you'd like to work with us in
                            creating great Shakespearean (and other similarly excellent)
                            performances, see how you can get involved.</p>
                        <p><a class="button is-light is-inverted is-outlined is-medium"
                                href="{{ .Site.BaseURL }}page/work_with_us/">
                                Work With Accidental Shakespeare!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <div class="hero is-fullwidth is-light">
        <div class="hero-body has-text-centered">
            <div class="container">
                <p class="title is-3 upper">
                    This Season's Events
                </p>
                <br />
                <div class="columns is-multiline  is-variable is-desktop is-centered">
                    {{ range where .Pages.ByLastmod.Reverse "Params.event_type" "performance" }}
                    <div class="column is-two-fifths-desktop">
                        {{template "season_performance" .}}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}


{{define "season_performance"}}
<a href="{{.Permalink}}">
    <figure class="image">
        {{ $img := (.Resources.ByType "image").GetMatch "*feature_image*" }}
        {{ with $img }}
        {{ $img := .Fill "440x440 top" }}
        <img src="{{ $img.RelPermalink }}" />
        {{end}}
    </figure>
    {{with .Params.title }}
    <h3 class="title is-4 is-capitalized">{{ . | markdownify -}}</h3>
    {{ end }}
    {{with .Params.description }}
    <h4 class="subtitle is-5">{{ . | markdownify -}}</h3>
        {{ end }}
</a>
{{ end }}
