{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<!--Segment for Company Photo -->
<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-desktop">
        <div class="column is-one-half-desktop">
          <div class="box">
            {{ $img := ( .Resources.ByType "image" ) }}
            {{ range $img }}
            <figure class="image is-4by4">
              {{ $headshot := .Fill "440x440 top" }}
              <img src="{{ $headshot.Permalink }}" alt="Show Poster Image" />
              {{ end }}
            </figure>
          </div>
        </div>
        <div class="column is-one-half-desktop is-subtitle">
          <h1 class="title">{{ .Params.title }}</h1>
          <h2 class="is-size-4"><strong>{{ .Params.company_title }}</strong></h2>
          <h2 class="is-size-5">{{ with .Params.email }}Email: {{ . }}</h3>
            {{ else }}
            {{ end }}
          <br />
          <div class="content is-medium">

          {{ if eq .Params.tickets_available "yes" }}
          <a class="button is-medium has-text-grey-lighter
            has-background-success is-outlined is-fullwidth" href="{{ .Params.ticket_link }}" target="_blank">
            <strong>{{ .Params.ticket_call_to_action }}</strong></a>
          {{ end }}
          <br />
          {{ .Content }}  
	  </div>

	  {{ if eq .Params.details "yes" }}
          <div class="content is-medium"><strong>Show Details</strong></div>

          {{- with .Params.directors -}}
          <div class="content is-medium">
            Directed by: {{ . }}
          </div>
          {{- end -}}

          {{- with .Params.playwrights -}}
          <div class="content is-medium">
            Written by: {{ . }}
          </div>
          {{- end -}}

          <br />
          <h3><strong>Production</strong></h3>
          <h4>
            {{- range $i, $prod := .Params.production -}}
            <p><strong>{{- ($prod.title )}}:</strong> {{($prod.name) }}</p>
            {{ end }}
          </h4>
          <br />
          <h3><strong>Cast</strong></h3>
          <h4>
            {{- range $i, $fabulous_actor := .Params.cast -}}
            <p><strong>{{- ($fabulous_actor.role )}}:</strong> {{($fabulous_actor.actor) }}</p>
            {{ end }}
          </h4>

          {{ end }}
          
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
