<footer class="footer">
        <div class="container">
          <div class="columns is-desktop">
            <!-- Who We Are -->
            <div class="column is-half-desktop has-text-white is-size-4">
              <p>
                <img src="{{ .Site.BaseURL }}image/logo-alt-light.png" width="500">
              </p>
              <p>{{ .Site.Params.description }}</p>
            </div>
            <!-- Sitemap -->
            <div class="column is-one-quarter-desktop is-size-4 has-text-white">
              <!--
              <p>
                <b>Shows and Events</b>
              </p>
                <article class="post">
                    <h3><a class="has-text-white" href="{{ .Site.BaseURL }}season/">Performances</a></h3>
                </article>
                <br />
              -->
                <p>
                    <h2 class="is-light"><b>Social</b></h2>
                </p>
                {{ range (where .Site.Pages.ByWeight "Section" "social") }}
                <article>
                    <h3><a class="has-text-white" href="{{ .Params.social_url }}" target="_blank">{{ .Params.title }}</a></h3>
                </article>
                {{ end }}
                <br />
                <p>
                    <b>Get in Touch</b>
                </p>
                <article class="post">
                    <h3><a class="has-text-white" href="{{ .Site.BaseURL }}page/contact/">Contact Us</a></h3>
                </article>
                <article class="post">
                    <h3><a class="has-text-white" href="{{ .Site.BaseURL }}page/work-with-us/">Work With Us</a></h3>
                </article>
            </div>
            <div class="column is-one-quarter-desktop is-size-4 has-text-white">
                <p>
                    <b>About Accidental Shakespeare</b>
                </p>
                <article class="post">
                    <h3><a class="has-text-white" href="{{ .Site.BaseURL }}about/">About Us</a></h3>
                </article>
                <article class="post">
                    <h3><a class="has-text-white" href="{{ .Site.BaseURL }}about/past-productions">Past Productions</a></h3>
                </article>
                <article class="post">
                    <h3><a class="has-text-white" href="{{ .Site.BaseURL }}page/sponsor/">Our Sponsors</a></h3>
                </article>
                <br />
                <p>
                  <b>In Memoriam</b>
                </p>
                <article class="post">
                  <h3><a class="has-text-white" href="{{ .Site.BaseURL }}page/in-memoriam">David Denman</a></h3>
                </article>
                <br />
              </div>
          </div>
        </div>
      </footer>
    </body>
</html>
