<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $main := resources.Get "main.scss" | resources.ToCSS "css/main.css" }}
 
    <link rel="stylesheet" href="{{ ($main | minify | fingerprint).Permalink }}">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/zvb7otn.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/bulma-carousel.min.css">
    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/bulma-carousel.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
          var carousels = bulmaCarousel.attach();
        }, false);
    </script>
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    <link href="{{ " index.xml " | relURL }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
</head>

<body class="has-background-{{ .Site.Params.style.background }}" id="{{- if .IsPage -}}page{{- else -}}node{{- end -}}-{{ .Title | urlize }}">
