<nav class="navbar is-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL }}">
                <p class="is-size-3 is-size-5-mobile">Accidental Shakespeare</p>
            </a>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-size-4" href="{{ .Site.BaseURL }}">
                    <span>Home</span>
                </a>
                <a class="navbar-item  is-size-4" href="{{ .Site.BaseURL }}season">
                    <span>Season</span>
                </a>
                <div class="navbar-item is-size-4 has-dropdown is-hoverable" href="{{ .Site.BaseURL }}about">
                    <a class="navbar-link is-arrowless is-dark" href="{{ .Site.BaseURL }}about">
                        <span>About Us</span>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item is-size-4" href="{{ .Site.BaseURL }}about/past-productions">
                            Past Productions
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
