<section class="hero is-fullheight has-carousel">
    <div class="hero-carousel carousel-animated carousel-animate-fade" data-autoplay="true">
        {{ range (where .Site.Pages "Section" "index") }}
        {{ with .Resources.Match "carousel*.jpg" }}
        <div class='carousel-container'>
            {{ range . }}
            {{ $carousel := .Fill "950x600 top" }}
            <div class='carousel-item has-background is-active'>
                <img class="is-background" src="{{ $carousel.Permalink }}" alt="{{ .Title }}" />
            </div>
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
        <div class="carousel-navigation is-overlay">
            <div class="carousel-nav-left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="carousel-nav-right">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="hero-body has-text-centered">
        <div class="columns is-mobile is-centered">
            <div class="column is-half is-narrow">
            </div>
        </div>
    </div>
</section>
