<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-5">
            <p class="title is-size-2">Join Our Newsletter<p/>
            <p class="subtitle is-size-3">Be the first to learn about shows & events</p>
          </div>
          <div class="column is-7">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <form name="mailchipcontact" method="POST" data-netlify="true"
                    enctype="application/x-www-form-urlencoded">
                  <p class="control is-expanded has-icons-left">
                    <input name="first-name" class="input is-medium" type="text" placeholder="First Name">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input name="last-name" class="input is-medium" type="text" placeholder="Last Name">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
  
            <div class="field is-horizontal has-addons has-addons-right">
              <div class="field-body">
                <div class="field is-expanded">
                  <div class="field has-addons">
                    <p class="control is-expanded has-icons-left">
                      <input name="email-address" class="input is-medium" type="tel" placeholder="Your email address">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </p>
                  </div>
                </div>
                <p class="control">
                  <button class="button is-outlined is-inverted is-primary is-medium" type="submit" value="Submit" id="Form-submit">Submit</button>
                </p>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br />
  </section>