{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<!-- begin home carousel section -->

{{ partial "section_home_carousel.html" . }}

<!-- Begin general info -->

<section class="hero is-light is-bold">
    <div class="hero-body is-lighter">
        <div class="container">
            <div class="columns is-desktop has-text-centered is-vcentered">
                <div class="column is-half-desktop subtitle">
                    <p class="title is-size-2">Romeo and Juliet</p>
                    <p class="subtitle is-size-3">We're releasing Romeo and Juliet in weekly online installments
                        starting on May 15th, 2021.</p>
                        <p><a class="button is-light is-inverted is-outlined is-medium" href="{{ .Site.BaseURL }}season/2020/romeo_and_juliet/">
                            Learn More about Romeo and Juliet</a>
                        </p>
                    </div>
                    <div class="column is-half-desktop subtitle">
                        <div class="box">
                            {{ range (where .Site.Pages "Section" "index") }}
                            {{ with .Resources.Match "romeo_and_juliet.jpg" }}
                            <figure class="image is-4by3">
                                {{ range .}}
                                {{ $romeo_and_juliet := .Resize "x450" }}
                                <img src="{{ $romeo_and_juliet.Permalink }}" alt="Romeo and Juliet" />
                                {{ end }}
                                {{ end }}
                            </figure>
                            {{ end }}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-desktop has-text-centered is-vcentered">
                <div class="column is-half-desktop">
                    <div class="box">
                        {{ range (where .Site.Pages "Section" "index") }}
                        {{ with .Resources.Match "perform.jpg" }}
                        <figure class="image is-4by3">
                            {{ range .}}
                            {{ $perform := .Fill "600x450 smart" }}
                            <img src="{{ $perform.Permalink }}" alt="Image" />
                            {{ end }}
                            {{ end }}
                        </figure>
                        {{ end }}
                    </div>
                </div>
                <div class="column is-half-desktop is-subtitle">
                    <p class="title is-size-2">Our 2020 Season of Performances</p>
                    <p class="subtitle is-size-3">Accidental Shakespeare typically has two to three
                        performance runs per year, with frequent events interspersed in
                        between. See what we have in store for the year!</p>
                    <p><a class="button is-light is-inverted is-outlined is-medium" href="{{ .Site.BaseURL }}season/">
                            View This Season's Shows & Events</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-body is-lighter">
        <div class="container">
            <div class="columns is-desktop has-text-centered is-vcentered">
                <div class="column is-half-desktop subtitle">
                    <p class="title is-size-2">Get Involved</p>
                    <p class="subtitle is-size-3">If you'd like to work with us in
                        creating great Shakespearean (and other similarly excellent)
                        performances, see how you can get involved.</p>
                        <p><a class="button is-light is-inverted is-outlined is-medium" href="{{ .Site.BaseURL }}page/work-with-us/">
                            Work With Accidental Shakespeare</a>
                        </p>
                    </div>
                    <div class="column is-half-desktop subtitle">
                        <div class="box">
                            {{ range (where .Site.Pages "Section" "index") }}
                            {{ with .Resources.Match "work_with_us.jpg" }}
                            <figure class="image is-4by3">
                                {{ range .}}
                                {{ $work_with_us := .Fill "600x450 smart" }}
                                <img src="{{ $work_with_us.Permalink }}" alt="Work With Us" />
                                {{ end }}
                                {{ end }}
                            </figure>
                            {{ end }}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-- Begin newsletter section -->

{{ partial "section_newsletter.html" . }}

<!-- Begin Footer as part of _default/baseof.html -->

{{ end }}
