{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
        <h2 class="subtitle">{{ .Content }}<br /></h2>
            <h1 class="title">
                Community Sponsors
            </h1>
            <h2 class="subtitle">
                We are grateful for the generosity of our local,
                community sponsors.
            </h2>

            <div class="columns is-centered is-multiline is-hidden-touch is-vcentered">
                {{ $img := ( .Resources.ByType "image" ) }}
                {{ range $img }}
                <div class="column is-1 is-multiline">
                    {{ with $img := .Fill "400x400" }}
                    <a href="{{ $img.Params.website }}" target="_blank">
                        <figure class="image is-1by1">
                            <img src="{{ $img.Permalink }}" />
                        </figure>
                    </a>
                </div>
                {{ end }}
                {{ end }}
            </div>

                <div class="columns is-centered is-multiline is-mobile is-hidden-desktop is-vcentered">
                    {{ $img := ( .Resources.ByType "image" ) }}
                    {{ range $img }}
                    <div class="column is-3 is-multiline">
                        {{ with $img := .Fill "400x400" }}
                        <a href="{{ $img.Params.website }}" target="_blank">
                            <figure class="image is-1by1">
                                <img src="{{ $img.Permalink }}" />
                            </figure>
                        </a>
                    </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
