{{ define "main" }}

<section id="performance" class="hero is-fullwidth is-light">
    <div class="container">
        <div class="hero-body has-text-centered">
            <div class="container">
                <p class="title is-3 upper">
                    Accidental Shakespeare Productions
                </p>
                <br />
                <div class="columns is-multiline is-variable is-desktop">
                    {{ range where .Pages "Params.eventtype" "show" }}
                    <div class="column is-one-third-desktop">
                        {{template "production" .}}
                    </div>
                    {{ end }}
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{define "production" }}
<a href="{{.Permalink}}">
    <figure class="image">
        {{ $img := (.Resources.ByType "image").GetMatch "*main*" }}
        {{ with $img }}
        {{ $img := .Fill "440x440 top" }}
        <img src="{{ $img.RelPermalink }}" />
        {{end}}
    </figure>
    {{with .Params.title }}
    <h3 class="title is-4 is-capitalized">{{ . | markdownify -}}</h3>
    {{ end }}
</a><br />
{{ end }}
