{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-desktop">
        <div class="column is-one-half-desktop">
          <h1 class="title">{{ .Params.title }}</h1>
          {{- with .Params.subtitle }}
          <h2 class="subtitle ">{{ . }}</h2>
          {{ end -}}
        </div>
      </div>

      <div class="columns is-desktop">
        <div class="column is-one-half-desktop">
          <div class="box">
            {{ $img := ( .Resources.Match "main" ) }}
            {{ range $img }}
            <figure class="image is-4by5">
              {{ $perform := .Fill "1024x1325 top" }}
              <img src="{{ $perform.Permalink }}" alt="Show Poster Image" />
              {{ end }}
            </figure>
          </div>
        </div>
        <div class="column is-one-half-desktop is-subtitle">
          <div class="content is-medium">{{ .Content }}</div>

          {{ if eq .Params.tickets_available "yes" }}
          <a class="button is-medium has-text-grey-lighter
            has-background-grey-dark is-outlined is-fullwidth" href="{{ .Params.ticket_link }}">
            {{ .Params.ticket_call_to_action }}</a>
          {{ end }}

          <br />

          <div class="content is-medium"><strong>Show Details</strong></div>

          {{- with .Params.directors -}}
          <div>
            Directed by: {{ . }}
          </div>
          {{- end -}}

          {{- with .Params.playwrights -}}
          <div>
            Written by: {{ . }}
          </div>
          {{- end -}}

          {{- with .Params.runtime -}}
          <div>
            Show run time: {{ . }}
          </div>
          {{- end -}}

          {{- with .Params.intermission_count -}}
          <div>
            Intermission count: {{ . }}
          </div>
          {{- end -}}

          <br />
          <h3><strong>Production</strong></h3>
          <h4>
            {{- range $i, $prod := .Params.production -}}
            <p><strong>{{- ($prod.title )}}:</strong> {{($prod.name) }}</p>
            {{ end }}
          </h4>
          <br />
          <h3><strong>Cast</strong></h3>
          <h4>
            {{- range $i, $fabulous_actor := .Params.cast -}}
            <p><strong>{{- ($fabulous_actor.role )}}:</strong> {{($fabulous_actor.actor) }}</p>
            {{ end }}
          </h4>

        </div>
        </div>

        {{ if eq .Params.event_photos "yes" }}
        <p>Event Photos</p>
        <div class="columns is-centered is-multiline is-mobile is-desktop is-vcentered">
          {{ $img := ( .Resources.Match "perform*" ) }}
          {{ range $img }}
          <div class="column is-3 is-multiline">
            {{ with $img := .Fill "400x400" }}
            <figure class="image is-1by1">
              <img src="{{ $img.Permalink }}" />
            </figure>
          </div>
          {{ end }}
          {{ end }}
        </div>
        {{ end }}
        
        </div>
        </div>
</section>

{{ end }}