{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Get in Touch with Accidental Shakespeare</h1>
      <br />
      <div class="columns">
        <div class="column is-one-half-desktop">
          <p class="subtitle">Mailing Address</p>
          <p>
            1333 West Devon Avenue<br />
            PMB 318<br />
            Chicago, Illinois 60660-1329<br /><br />
          </p>
        </div>
        <div class="column is-one-half-desktop">
        <p class="subtitle">Email Contacts</p>
        <p>
          General: contact@accidentalshakespeare.org<br/><br/>
          Press: press@accidentalshakespeare.org<br/>
        </p>
      </div>
      </div>
      <p>
        Accidental Shakespeare is a 501(c)(3) organization. Our EIN is: 45-4072767.
      </p>
    </div>

</section>

{{ end }}
