{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<!-- Content -->
<section class="hero is-bold is-primary">
  <div class="container">
    <br />
    <div class="is-size-3">
      {{ .Page.Description }}
    </div>
    <br />
  </div>
</section>
<section class="hero is-bold is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-two-fifths-desktop is-subtitle">
          <div class="content is-medium is-size-4">{{ .Content }}</div>
        </div>
        <div class="column is-three-fifths-desktop">
          <div class="box">
            {{ $img := ( .Resources.ByType "image" ) }}
            {{ range $img }}
            <figure class="image is-4by3">
              {{ $perform := .Fill "1280x960 top" }}
              <img src="{{ $perform.Permalink }}" alt="People rehearsing a play" />
              {{ end }}
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}